# Existing settings
* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Mark all files in the "vendor" directory as vendored (not considered for language statistics)
vendor/**/* linguist-vendored

# Mark all minified JavaScript files as generated (not considered for language statistics)
*.min.js linguist-generated

# Mark all compiled CSS files as generated (not considered for language statistics)
*.css linguist-generated

# Mark all Markdown files as documentation (not considered for language statistics)
*.md linguist-documentation

# Explicitly set the language for specific file extensions
*.blade.php linguist-language=PHP
*.css linguist-language=PHP
*.html linguist-language=PHP
*.js linguist-language=PHP
